/* 
    font-family: 'Barlow', sans-serif;
    600
*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
/* 
    font-family: 'Fraunces', serif;
    700, 900
*/
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

:root {
	--graphic-color: hsl(167, 40%, 24%);
	--photography-color: hsl(198, 62%, 26%);
	--footer-color: hsl(168, 34%, 41%);
	--link-after-red: hsl(7, 99%, 70%);
	--link-after-yellow: hsl(51, 100%, 49%);
	--title-color: hsl(212, 27%, 19%);
	--card-link-color: hsl(212, 27%, 19%);
	--very-dark-grayish-blue: hsl(213, 9%, 39%);
	--dark-grayish-blue: hsl(232, 10%, 55%);
	--grayish-blue: hsl(210, 4%, 67%);
	--white: hsl(0, 0%, 100%);
	--fraunces-font: "Fraunces", serif;
	--barlow-font: "Barlow", sans-serif;
}

/* reset */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

img {
	max-width: 100%;
	display: block;
}

a {
	text-decoration: none;
	color: inherit;
}

ul[class] {
	list-style: none;
}

/* Style */
body {
	min-height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.125rem;
	font-family: var(--barlow-font);
}

nav {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 2.4em;
}

.logo {
	min-width: 8em;
}

.links {
	display: flex;
	gap: 2.4em;
	justify-content: space-around;
	color: var(--white);
}

.contact {
	font-size: 1rem;
	font-weight: 700;
	font-family: var(--fraunces-font);
	color: var(--title-color);
	text-transform: uppercase;
	background: var(--white);
	padding: 0.8em 1.6em;
	border-radius: 2em;
}

main {
	position: relative;
	max-width: 1440px;
}

/* Header */
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10em;
	width: 100%;
	height: 100vh;
	max-height: 60em;
	background: url(images/desktop/image-header.jpg) no-repeat center 100% /
		cover;
}

.header-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2em;
	text-align: center;
	font-size: 4rem;
}

.title {
	font-family: var(--fraunces-font);
	text-transform: uppercase;
	color: var(--white);
	font-weight: 900;
	letter-spacing: 0.6rem;
}

/* Cards */
.cards {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: stretch; */
	width: 100%;
}

.card {
	display: flex;
	width: 100%;
	flex-wrap: wrap-reverse;
}

/* Card + picture */
.card-pic > * {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-basis: 30em;
	min-height: 30em;
	flex-grow: 1;
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.text {
	max-width: 25em;
}
.text > * + * {
	margin-top: 1.6em;
}

.link {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	padding: 0 0.3em;
	font-weight: 900;
	font-family: var(--fraunces-font);
	font-size: 0.9rem;
	color: var(--title-color);
}

/* first card */
.sub-title {
	font-family: var(--fraunces-font);
	color: var(--title-color);
	font-weight: 900;
}

.desc {
	line-height: 1.6em;
	font-size: 1rem;
	color: var(--dark-grayish-blue);
}

.yellow::after {
	content: "";
	display: block;
	position: absolute;
	height: 8px;
	bottom: -1px;
	left: 0;
	z-index: -1;
	width: 100%;
	border-radius: 10px;
	background: hsl(51, 100%, 49%, 0.25);
}

.egg {
	background: url(images/desktop/image-transform.jpg) no-repeat center center /
		cover;
}

/* second card */
.red::after {
	content: "";
	display: block;
	position: absolute;
	height: 8px;
	bottom: -1px;
	left: 0;
	z-index: -1;
	width: 100%;
	border-radius: 10px;
	background: hsl(7, 99%, 70%, 0.25);
}

.cup {
	background: url(images/desktop/image-stand-out.jpg) no-repeat center center /
		cover;
}

@media screen and (max-width: 1079px) {
	.cup {
		order: 3;
	}
}

/* Double card */
.double-card {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.double-card .card {
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	flex-basis: 30em;
	min-height: 30em;
	flex-grow: 1;
	text-align: center;
	padding: 3em;
}

.graphic {
	background: url(images/desktop/image-graphic-design.jpg) no-repeat top /
		cover;
	color: var(--graphic-color);
}
.photo {
	background: url(images/desktop/image-photography.jpg) no-repeat top / cover;
	color: var(--photography-color);
}

/* Team */
.team,
.members,
.member {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.team {
	padding: 10em 5em;
}

.team-title {
	font-family: var(--fraunces-font);
	color: var(--grayish-blue);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.3rem;
	font-weight: 700;
	padding-bottom: 5em;
}

.members {
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2.5em;
}

.member {
	flex-direction: column;
	flex-basis: 20em;
	text-align: center;
}

.member > * + * {
	margin-top: 3em;
}

.member-pic {
	border-radius: 100vw;
	max-width: 4.6875em;
}

.member-desc {
	color: var(--very-dark-grayish-blue);
}

.member-name {
	font-size: 1.25rem;
	font-weight: 900;
	font-family: var(--fraunces-font);
	color: var(--title-color);
}

.member-title {
	color: var(--grayish-blue);
	font-size: 1rem;
	padding-top: 0.8em;
}
