/* 
    font-family: 'Barlow', sans-serif;
    600
*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
/* 
    font-family: 'Fraunces', serif;
    700, 900
*/
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

:root {
	--graphic-color: hsl(167, 40%, 24%);
	--photography-color: hsl(198, 62%, 26%);
	--footer-color: hsl(168, 34%, 41%);
	--link-after-red: hsl(7, 99%, 70%);
	--link-after-yellow: hsl(51, 100%, 49%);
	--title-color: hsl(212, 27%, 19%);
	--card-link-color: hsl(212, 27%, 19%);
	--very-dark-grayish-blue: hsl(213, 9%, 39%);
	--dark-grayish-blue: hsl(232, 10%, 55%);
	--grayish-blue: hsl(210, 4%, 67%);
	--white: hsl(0, 0%, 100%);
	--fraunces-font: "Fraunces", serif;
	--barlow-font: "Barlow", sans-serif;
}

/* reset */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

img {
	max-width: 100%;
	display: block;
}

a {
	text-decoration: none;
	color: inherit;
}

/* Style */
body {
	min-height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.125rem;
}

nav {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 2.4em;
}

.logo {
	min-width: 8em;
}

.links {
	display: flex;
	gap: 2.4em;
	justify-content: space-around;
	list-style: none;
	font-family: var(--barlow-font);
	color: var(--white);
}

.contact {
	font-size: 1rem;
	font-weight: 700;
	font-family: var(--fraunces-font);
	color: var(--title-color);
	text-transform: uppercase;
	background: var(--white);
	padding: 0.8em 1.6em;
	border-radius: 2em;
}

main {
	position: relative;
	max-width: 1440px;
}

/* Header */
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10em;
	width: 100%;
	height: 100vh;
	max-height: 60em;
	background: url(images/desktop/image-header.jpg) no-repeat center 100% /
		cover;
}

.header-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2em;
	text-align: center;
	font-size: 4rem;
}

.title {
	font-family: var(--fraunces-font);
	text-transform: uppercase;
	color: var(--white);
	font-weight: 900;
	letter-spacing: 0.6rem;
}
